.chat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box textarea::-webkit-scrollbar {
  display: none;
}

.input-container {
  display: flex;
  justify-content: center;
}

.query-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 15px 10px;
  gap: 10px;
}

.input-box textarea {
  width: 500px;
  border: none;
  font-size: 16px;
  resize: none;
}

.input-box textarea:focus {
  outline: none;
}

.send-button button {
  padding: 10px;
}

#send-icon {
  font-size: 35px;
  color: #000;
  cursor: pointer;
  padding: 3px;
  border-radius: 50px;
  border: 1px dashed #000;
}

#send-icon:hover {
  background-color: #eee;
  border: 1px dashed #eee;
}

.output-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.response-box{
  max-width: 600px;
  max-height: 250px;
  overflow-y: auto;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
}

.loader {
  display: inline-block;
  height: 36px;
  width: 25px;
  aspect-ratio: .60;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
  border-radius: 8px;
  vertical-align: middle;
}

@keyframes l7 {
  0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
  20% {background-size: 20% 20% ,20% 50% ,20% 50% }
  40% {background-size: 20% 100%,20% 20% ,20% 50% }
  60% {background-size: 20% 50% ,20% 100%,20% 20% }
  80% {background-size: 20% 50% ,20% 50% ,20% 100%}
  100%{background-size: 20% 50% ,20% 50% ,20% 50% }
}
